body {
    background: url(imagenes/donas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


h1 {
    color: white;
    }
h1 {
    font-style: oblique;
}


div {
    background: hotpink;
    color: white;
    width: 25%;
    padding: 15px;
    margin: 20px 550px;
    border: 5px solid #fff;
    border-radius: 15px;
}

button {
    color: hotpink;
}

input {
    color: hotpink;
}

header {
    margin: 10px 700px;
}